@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans&display=swap');

* { box-sizing: border-box; }

a { text-decoration: none; }

nav { width: 100%;
    position: fixed;
    background-color: black;
    text-align: center;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    background-image: linear-gradient(90deg, #FF3CAC 0%, #03309b 25%, #529E5D 50%, #d61313 75%);
}

nav ul { margin: 0;
padding: 0; }

nav li { float: left;
padding-bottom: 0.2vw;
padding-top: 0.2vw;
margin: 0;
display: inline-block;
width: 24.6%;
margin-left: 0.4%;
background-color: black;}

nav a { display: block; }

nav a:link { color: white;  }
nav a:visited { color: white; }
nav a:focus { color: lightgray; }
nav a:hover { color: lightgray; }

body { background-color: black;
color: white;
margin: 0;
font-family: 'Open Sans', sans-serif;
text-align: center; }

.wrapper { width: 85%;
margin-left: auto;
margin-right: auto; 
background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #0532a1 100%); }

header { background-image: url(malibu.jpg);
background-size: cover;
height: 50vw;
width: 100%; 
margin: 0;
text-align: center; }

#headertext { position: absolute;
left: 0;
right: 0;
top: 22vw;
font-size: 3vw; 
font-family: 'Montserrat', sans-serif;
text-shadow: 10px 10px #000000;}

main { margin-top: 0%; 
    overflow: auto; } 

.contentback { background-color: #090912; 
margin: 0.8%;
margin-bottom: 0;
margin-top: 0.4%;
text-align: center; 
overflow: auto; }

.contentback:first-of-type { margin-top: 0;}

.contenttext { padding-top: 6vw;
font-size: 1.5em; 
overflow: auto;
padding-left: 2%;
padding-right: 2%;}

h3 { font-family: 'Montserrat', sans-serif;
font-size: 3vw; }

#content1, #content2, #content3, #content4, #content5 { clear: both;
width: 50vw;
height: 40vw;
background-size: cover;
background-repeat: no-repeat;
background-position: center; 
font-family: 'Montserrat', sans-serif;
overflow: auto; 
text-shadow: 5px 5px #000000; 

padding: 1vw 0.5em 0 0.5em; }

#content1 { background-image: url(friend.jpg); 
text-align: right;
float: left;
}

#content2 { background-image: url(jelly.jpg);
float: right;
text-align: left; 
}

#hero1 { background-image: url(school-3429478_1920.jpg);
background-size: cover;
height: 50vw;
width: 100%; 
margin: 0;
text-align: center; 
clear: both;}

.wrapper2 { width: 90%;
margin-left: auto;
margin-right: auto; 
overflow: auto; }


#gradient { background: rgb(27,77,120);
background: linear-gradient(40deg, rgba(27,77,120,1) 0%, rgba(42,15,241,1) 50%, rgba(120,158,251,1) 100%);
overflow: auto;}

.infotext { margin-left: 10vw;
margin-right: 10vw;
margin-bottom: 4vw;
margin-top: 2vw;
font-size: 1.3em; }

h4 { font-family: 'Montserrat', sans-serif; }

#content3 h3, #content4 h3, #content5 h3 { font-size: 2vw;}

#content3, #content4, #content5 { float: left;
text-align: center;
width: 32.46666%;
height: 26vw;
clear: none; }

#content3 { background-image: url(hammerhead-shark-5024671_1920.jpg);
margin-left: 0.8%; }

#content4 { background-image: url(robbe-1820747_1920.jpg);
margin-left: 0.5%;
margin-right: 0.5%;}

#content5 { background-image: url(aqua-5172022_1920.jpg);
}

#hero2 { background-image: url(waterfall-5523833_1920.jpg);
background-size: cover; 
height: 50vw;
width: 100%; 
clear: both;
}

#riverimg, #riverimg2 { width: 49.8%; 
margin: 0; 
font-family: 'Montserrat', sans-serif; 
font-style: italic;
float: left; }
#riverimg img, #riverimg2 img { width: 100%; }

#riverimg figcaption, #riverimg2 figcaption { background-color: black; 
width: 100%; 
margin: 0;
font-size: 1.5em; }

#riverimg2 { float: right; 
margin-right: 0;
margin-left: 0; }

#riverimg figcaption, #riverimg2 figcaption { display: block; 
margin: 0; 
padding: 10px; } 

#rivergradient { background: rgb(184,236,48);
background: linear-gradient(270deg, rgba(184,236,48,1) 0%, rgba(27,179,124,1) 50%, rgba(64,226,61,1) 100%);
overflow: auto; }

#red1, #red2 { 
background-size: cover;
width: 50%;
height: 33vw;
margin-bottom: 0.3vw;}

#colors { margin-top: 4vw;
margin-bottom: 4vw; }

#red1 { background-image: url(fighting-fish-2009968_1920.jpg);
float: left;
background-position: center; }

#red2 { background-image: url(color-pop-5650322_1920.jpg);
float: right;
background-position: center; }

#finalgradient { overflow: auto; 
background: rgb(37,0,158);
background: linear-gradient(90deg, rgba(37,0,158,1) 0%, rgba(214,19,19,1) 50%, rgba(180,8,114,1) 100%); }

footer { width: 100%;
clear: both; 
text-align: center;
background-color: black;
padding: 1%;
font-style: italic; }

footer a:link { color: deepskyblue; }
footer a:visited { color: darkblue; }
footer a:focus { color: aqua; }
footer a:hover { color: aqua; }



header, main, nav, footer, figure, figcaption, aside, section, article { display: block; }

#mobile { display: none; }
#desktop { display: inline ;}

@media only screen and (max-width: 64em) {
.wrapper { width: 100%; }
    
nav { font-size: 2vw; }
nav a { padding: 1vw; }
    
    #content3 h3, #content4 h3, #content5 h3 { 
    font-size: 2em;
    margin-top: 0;  }
}

@media only screen and (max-width: 37.5em) { 
    #headertext { font-size: 1.4em;
    top: 15vw; }
    
    header { clear: both; }
    
    nav { font-size: 3vw; }
    nav a { padding: 4vw; }
    
    #content1, #content2 { width: 100%; 
    text-align: center;
    float: none; }
    #content2 { background-position: top; }
    
    #content1 h3, #content2 h3 { font-size: 2em; }
    
    h3 { font-size: 2em; }
    .contenttext { margin: 0; 
    padding: 0; }
    
    #content3, #content4, #content5 { float: none;
    width: 98.4%; 
    height: 50vw;
    margin-left: 0.8%;
    margin-right: 0.8%; 
    margin-top: 0.4%; }
    
    #riverimg, #riverimg2 { width: 98.4%;
    float: none; 
    margin-left: 0.8%;
    margin-right: 0.8%;}
    
    #content3 { margin-top: 0; }
    
    #hero2 { margin-top: 5vw; }
} 
